/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* GLOBAL */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.2s linear;
}
html {
  font-size: 62.5%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}
body {
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 25px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 3rem;
}
.hero {
  padding-top: 19.3rem;
  padding-bottom: 6.2rem;
  background: url("../images/planet-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  display: flex;
  flex-direction: column;
}
.hero__content {
  direction: flex;
  flex-direction: column;
  width: 919px;
  border-radius: 24px;

  backdrop-filter: blur(6px);
  background: linear-gradient(
    136.17deg,
    rgba(0, 0, 0, 0.36) 6.443%,
    rgba(0, 0, 0, 0.07) 103.763%
  );
  margin-bottom: 7.5rem;
}
.hero__info {
  padding: 4rem 5.6rem;
}
.hero__title {
  color: rgb(255, 255, 255);
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0%;
  margin-bottom: 4rem;
}
.hero__text {
  background: linear-gradient(132.3deg, rgb(99, 225, 225), rgb(158, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.hero__description {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 4rem;
  width: 100%;
  max-width: 620px;
}
.hero__btn {
  display: inline-block;
  padding: 2.4rem 4.8rem;
  border-radius: 36px;
  box-shadow: 0px 0px 20px 0px rgba(99, 225, 225, 0.25);
  background: rgb(99, 225, 225);
  color: rgb(0, 0, 0);
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid transparent;
}
.hero__btn:hover {
  background: transparent;
  border: 1px solid rgb(99, 225, 225);
  color: #fff;
}
.hero__features {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 32px;
  gap: 9.2rem;
  backdrop-filter: blur(8px);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0) 100%
  );
  padding: 2.4rem 5.6rem;
}
.hero__box {
  color: #fff;
}
.hero__pic {
}
.hero__heading {
  color: rgb(255, 255, 255);
  font-size: 2.4rem;
  font-weight: 800;
  line-height: 33px;
  margin-bottom: 8px;
}
.hero__desc {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 25px;
}
@media (max-width: 1245px) {
  .hero__features {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .hero__box {
    width: 300px;
  }
}
@media (max-width: 1030px) {
  .hero {
    padding-top: 8rem;
  }
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero__content {
    width: 700px;
  }
  .hero__info {
    padding: 3rem;
  }
}
@media (max-width: 768px) {
  .hero__content {
    width: 600px;
  }
  .hero__title {
    font-size: 4.6rem;
    margin-bottom: 2rem;
    line-height: 70px;
  }
}
@media (max-width: 630px) {
  .hero__content {
    width: 500px;
    text-align: center;
  }
}
@media (max-width: 526px) {
  .hero__info {
    padding: 1rem;
  }
  .hero__content {
    width: 400px;
  }
  .container {
    padding: 0 1.8rem;
  }
  .hero__description {
    font-size: 1.8rem;
  }
  .hero__btn {
    font-size: 1.8rem;
  }
  .hero__features {
    padding: 1rem;
  }
}
@media (max-width: 430px) {
  .hero__content {
    width: 340px;
  }
  .hero__info {
    padding: 2rem;
  }
  .hero__title {
    line-height: 65px;
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }
  .hero__description {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 375px) {
  .hero__box {
    width: 270px;
  }
}
@media (max-width: 365px) {
  .hero__content {
    width: 300px;
  }
}
